/*Grid*/
.grid {
  display: grid;
  column-gap: 6.4rem;
  row-gap: 9.6rem;
}
.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}
.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}
.grid--4-cols {
  grid-template-columns: repeat(4, 1fr);
}
/*Center*/
.container {
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}
.center-text {
  text-align: center;
}
/*Margin*/
.margin-bottom-md {
  margin-bottom: 4.8rem !important;
}
.margin-bottom-mp {
  margin-bottom: 9.6rem;
}

/*Text*/
.orange {
  background-color: #e67e22;
  color: white;
}
