html {
  font-size: 62.5%;
  overflow-x: hidden;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-weight: 400;
  overflow-x: hidden;
}
.hero-section {
  background-color: #fdf2e9;
  padding: 4.8rem 0;
}

.hero {
  margin: 0 auto;
  max-width: 130rem;
  align-items: center;
  padding: 0 3.2rem;
}
.hero-img {
  width: 100%;
}
.hero-text {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
.title {
  font-size: 5.2rem;
  color: #333;
}
.description {
  color: #888;
  font-size: 2.1rem;
  line-height: 1.5;
  font-weight: 500;
}
.btn,
.btn-start {
  border: none;
  margin-right: 1rem;
  font-size: 2rem;
  display: inline-block;
  justify-content: center;
  background-color: white;
  padding: 1.6rem 3.2rem;
  text-decoration: none;
  border-radius: 9px;
  font-weight: 600;
  color: #555;
}
.btn:hover {
  background-color: #f8f9fa;
}
.btn-start:hover {
  background-color: #cf711f;
}
.custumers-box {
  display: flex;
  align-items: center;
  margin-top: 6rem;
}
.custumers {
  width: 4.6rem;
  margin-right: -1.6rem;
  border-radius: 50%;
}
.custumers-text {
  margin-left: 3.4rem;
  display: inline-block;
  font-size: 17px;
  color: #333;
  font-weight: 1000;
}
.orange-text {
  color: #e67e22;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fdf2e9;
  height: 9.6rem;
  padding: 0 4.8rem;
  position: relative;
}
.main-nav {
  font-size: 18px;
  font-weight: 600;
}
.logo {
  height: 2.2rem;
}
.main-nav-list {
  display: flex;
  list-style: none;
  gap: 4.8rem;
  align-items: center;
}
.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #333;
  font-weight: 600;
  font-size: 1.8rem;
  transition: all 0.3s;
}
.main-nav-link:active,
.main-nav-link:hover {
  color: #cf711f;
}
.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  padding: 1.2rem 2.4rem;
  background-color: #e67e22;
  color: white;
  border-radius: 9px;
}
.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: #cf711f;
}
.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;
  display: none;
}
.icon-mobile-nav {
  height: 4.8rem;
  width: 4.8rem;
  color: #333;
}
.icon-mobile-nav[name="close-outline"] {
  display: none;
}
.section-feature {
  padding: 4.8rem 0 3.2rem 0;
}
.heading-featured-in {
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 2.4rem;
  color: #999;
}
.logos {
  display: flex;
  justify-content: space-around;
}
.featured-img {
  height: 3.2rem;
  filter: brightness(0);
  opacity: 50%;
}
.section-how,
.section-meals {
  padding: 9.6rem 0;
}
#app--img {
  width: 35%;
}
.subheading {
  display: block;
  color: #e67e22;
  font-size: 1.6rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  margin-bottom: 1.6rem;
}
.heading-secondary {
  font-size: 4.5rem;
  color: #333;
  font-weight: 700;
  margin-bottom: 9.6rem;
}
.step-text-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.step-text-number {
  font-size: 8rem;
  font-weight: 800;
  color: #ddd;
}
.step-title {
  font-size: 2.8rem;
  margin-top: 2rem;
  font-weight: 800;
  color: #333;
}
.step-description {
  color: #555;
  font-size: 1.7rem;
  margin-top: 3rem;
  line-height: 3rem;
}
.phone-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.phone-container::before {
  position: absolute;
  content: "";
  display: block;
  width: 60%;
  padding-bottom: 60%;
  background-color: #fdf2e9;
  border-radius: 50%;
  z-index: -1;
}
.phone-container::after {
  position: absolute;
  content: "";
  display: block;
  width: 45%;
  padding-bottom: 45%;
  background-color: #fae5d3;
  border-radius: 50%;
  z-index: -1;
}
.meal {
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  border-radius: 10px;
  transition: all 0.4s;
}
.meal:hover {
  transform: translateY(-1.2rem);
  box-shadow: 0 3.4rem 6.4rem rgba(0, 0, 0, 0.06);
}
.meal-content {
  padding: 3.2rem 4.8rem 4.8rem 4.8rem;
}
.container-tag {
  display: flex;
}
.vegetarian-tag {
  background-color: #51cf66;
  padding: 0.4rem;
  border-radius: 9px;
  margin-bottom: 1rem;
}
.vegan-tag {
  background-color: #94d82d;
  padding: 0.4rem;
  border-radius: 9px;
  margin-bottom: 1rem;
}
.paleo-tag {
  background-color: #ffd43b;
  padding: 0.4rem;
  border-radius: 9px;
  margin-bottom: 1rem;
}
.meal-tag-text {
  font-size: 1.1rem;
  font-weight: 500;
  color: #333;
}
.meal-title {
  font-size: 2.3rem;
  font-weight: 600;
  margin-bottom: 2.8rem;
  color: #333;
}
.meal-row {
  display: flex;
  gap: 0.7rem;
}
.list-title {
  color: #333;
  font-size: 3.5rem;
}
.list-text {
  font-size: 1.8rem;
  font-weight: 400;
  color: #555;
  display: flex;
  align-items: center;
  gap: 2rem;
  line-height: 1.2;
}
.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
}
.see-all:visited,
.see-all:link {
  font-size: 1.8rem;
  color: #e67e22;
}
.see-all:hover {
  color: #cf711f;
}
.meal-icons {
  height: 2.4rem;
  width: 2.4rem;
  color: #e67e22;
}
.list-icon {
  width: 3rem;
  height: 3rem;
  color: #e67e22;
}
.meal-img {
  border-radius: 10px 10px 0 0;
  width: 100%;
}
.diets {
  border-radius: 10px;
}
.diets-title {
  font-size: 3rem;
  color: #333;
  margin-bottom: 3.2rem;
}
.section-testimonial {
  background-color: #fdf2e9;
  grid-template-columns: 55fr 45fr;
  align-items: center;
  display: grid;
}
.testimonial-text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 1.6rem;
}
.testimonial-name {
  font-size: 1.6rem;
  color: #6f6f6f;
}
.testimonial {
  line-height: 1.8;
  font-size: 1.8rem;
  font-weight: 400;
  color: #555;
  display: flex;
  flex-direction: column;
}
.testimonial-img {
  width: 6.4rem;
  border-radius: 50%;
  margin-bottom: 1.2rem;
}
.testimonials-container {
  padding: 9.6rem;
}
.testimonials {
  display: grid;
  row-gap: 4.8rem;
  column-gap: 8rem;
}
.gallery {
  grid-template-columns: repeat(3, 1fr);
  display: grid;
  padding: 1.6rem;
  gap: 1.6rem;
}
.gallery-item {
  overflow: hidden;
}
.gallery-item img {
  display: block;
  width: 100%;
  transition: all 0.4s;
}
.gallery-item img:hover {
  transform: scale(1.1);
}
.section-pricing {
  padding: 9.6rem 0;
}
.pricing-plan {
  border-radius: 11px;

  width: 75%;
}
.pricing-plan--starter {
  justify-self: end;
  border: solid 2px #fdf2e9;
  padding: 4.6rem;
}

.pricing-plan--complete {
  background-color: #fdf2e9;
  padding: 4.8rem;
  position: relative;
  overflow: hidden;
}
.pricing-plan--complete::after {
  content: "Best value";
  position: absolute;
  text-transform: uppercase;
  top: 6%;
  right: -18%;
  font-size: 1.4rem;
  font-weight: 700;
  color: #333;
  background-color: #ffd43b;
  padding: 0.8rem 8rem;
  transform: rotate(45deg);
}

.plan-header {
  margin-bottom: 4.8rem;
}
.plan-name {
  color: #cf711f;
  font-weight: 600;
  font-size: 1.6rem;
  text-transform: uppercase;
  letter-spacing: 0.75;
  margin-bottom: 3.2rem;
}
.plan-text {
  font-size: 1.6rem;
  line-height: 1.6;
  color: #6f6f6f;
  margin-bottom: 4rem;
}
.plan-price {
  font-size: 6.2rem;
  font-weight: 600;
  color: #333;
  margin-bottom: 1.6rem;
}
.plan-price span {
  font-size: 3rem;
  font-weight: 500;
  margin-right: 0.8rem;
}
.btn-price {
  font-size: 2rem;
  display: inline-block;
  justify-content: center;
  padding: 1.6rem 3.2rem;
  text-decoration: none;
  border-radius: 0.5rem;
  font-weight: 600;
  color: #555;
  background-color: #e67e22;
  color: white;
}
.btn-price:hover {
  font-size: 2rem;
  background-color: #cf711f;
}
.plan-sing-up {
  text-align: center;
  margin-top: 4.8rem;
}
.features-grid {
  display: grid;
  gap: 4rem;
}
.feature-title {
  font-size: 2.4rem;
  color: #333;
  font-weight: 700;
  margin-bottom: 1.6rem;
}
.plan-details {
  font-size: 1.6rem;
  line-height: 1.6;
  text-align: center;
}
.feature-icon {
  color: #e67e22;
  height: 3rem;
  width: 3rem;
  margin-bottom: 3.2rem;
  background-color: #fdf2e9;
  padding: 1.6rem;
  border-radius: 50%;
}
.feature-text {
  font-size: 1.9rem;
  font-weight: 400;
  color: #555;
  display: flex;
  align-items: center;
  gap: 2rem;
  line-height: 1.7;
}
.section-cta {
  padding: 4.8rem 0 12.8rem 0;
}
.cta-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  background-color: #e67e22;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
  background-image: linear-gradient(to right bottom, #eb984e, #e67e22);
  border-radius: 11px;
  overflow: hidden;
}
.cta-text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 4.8rem;
}

.cta-text-box {
  padding: 4.8rem 6.4rem 6.4rem 6.4rem;
  color: #45260a;
}
.cta-container .heading-secondary {
  color: inherit;
  margin-bottom: 3.2rem;
}
.cta-img-box {
  background-image: linear-gradient(
      to right bottom,
      rgba(235, 150, 76, 0.35),
      rgba(231, 126, 35, 0.35)
    ),
    url(../img/eating.jpg);
  background-size: cover;
  background-position: center;
}
*:focus {
  outline: none;
  box-shadow: 0 0 0 0.8rem rgba(230, 125, 34, 0.5);
}
.cta-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3.2rem;
  row-gap: 2.4rem;
}
.cta-form label {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 1.2rem;
}
.cta-form input,
.cta-form select {
  width: 100%;
  padding: 1.2rem;
  font-size: 1.8rem;
  font-family: inherit;
  border: none;
  background-color: #fdf2e9;
  border-radius: 9px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}
.cta-form input::placeholder {
  color: #aaa;
}

.cta-form button {
  background-color: #45260a;
  color: #fdf2e9;
  align-self: end;
  padding: 1.2rem;
  margin: 0;
}
.cta-form button:hover {
  background-color: #fff;
  color: #555;
}
.cta-container *:focus {
  outline: none;
  box-shadow: 0 0 0 0.8rem rgba(253, 242, 233, 0.5);
}
.footer {
  padding: 12.8rem 0;
  border-top: solid 1px #dfdcdc;
}
.footer-grid {
  grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr;
}
.logo-col {
  display: flex;
  flex-direction: column;
}
.footer-logo {
  display: block;
  margin-bottom: 3.2rem;
}
.social-links {
  display: flex;
  gap: 2.4rem;
  list-style: none;
}
.social-icon {
  height: 2.4rem;
  width: 2.4rem;
}
.copyright {
  font-size: 1.4rem;
  color: #767676;
  margin-top: auto;
  line-height: 1.6;
}
.footer-heading {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 4rem;
  color: #555;
}
.contacts {
  font-style: normal;
  font-size: 1.6rem;
  line-height: 1.6;
  color: #555;
}
.adress {
  margin-bottom: 2.4rem;
}
.footer-nav {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}
.footer-link:link,
.footer-link:visited {
  text-decoration: none;
  font-size: 1.6rem;
  color: #767676;
  transition: all 0.3s;
}
.footer-link:hover,
.footer-link:active {
  color: #555;
}
